@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*Colors*/
:root {
    --background-color: white;
    --text-title-color: #053d4e; 
    --text-color: #32363b;
    --icon-color: #32363b; 
    --icon-menu-color: #707780; 
    --menu-color: #707780; 

    --text-selected-color: #355cc0; 
    --background-selected: #ebf0ff;
    --background-hover: #f7f9fa; 

    --border-color: #e6e9ed;  
}

/*Global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

/*Body*/
body{
    width: 100%;
    height: 100vh;
}

/*Header*/
header{
    z-index: 200;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem; 
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}
/*Left Section*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

/*Menu*/
.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
    height: 2px;
    background-color: var(--menu-color);
    transition: all 0.2s ease;
}
.menu.menu-toggle div:first-child{
    transform: rotate(-35deg) translate(-33%,175%);
}
.menu.menu-toggle div:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}
.menu.menu-toggle div:last-child{ 
    transform: rotate(35deg) translate(-33%,-160%);
}

/*Brand*/
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
}

/*Right Section*/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

/*Sidebar*/
.sidebar{
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 3.5rem;
    margin-top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}
.sidebar.menu-toggle{
    width: 18.75rem;
}
.sidebar i {
    font-size: 1.5rem; /* Puedes usar 2rem, 24px, etc. */
}
.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.sidebar a:hover{
    background-color: var(--background-hover);
}
.sidebar ul{
    list-style: none;
    padding-left: 0; 
    margin: 0; 
}

/*Responsive*/
@media (max-width:500px){
    .right .icons-header{
        display: none;
    }

    .sidebar{
        width: 0;
    }
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem,0.3rem);
    }
    .menu.menu-toggle div:nth-child(2){
        opacity: 0;
    }
    .menu.menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem,-0.3rem);
    }

}

